<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("../_share/metadata.ejs") %>
  <title>Search</title>
  <%- include("../_share/stylesheets.ejs") %>
</head>

<body>
  <div class="outerframe">

  <%- include("../_share/navbar.ejs") %>

  <main role="main" class="container">
    <div class="border-bottom">
      <form action="/search" method="GET" class="mt-5 mb-5">
        <div class="form-group row justify-content-center">
          <div class="input-group mt-3 mb-3 col-sm-8">
            <input type="text" class="form-control" id="keyword" name="keyword" value="<%= keyword %>" autofocus />
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit"><i class="fa fa-fw fa-search"></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="card-columns mt-5">
      <% for (var item of results) { %>
      <%- include("./item.ejs", item) %>
      <% } %>
    </div>

    <nav>
      <ul class="pagination justify-content-center">
        <% for(var i = 1; i <= pagenation.max; i++) { %>
          <% if ( pagenation.current !== i) { %>
          <% if ( i <= 3 || (pagenation.current - 3 < i && i < pagenation.current + 3) || pagenation.max - 3 < i ) {%>
          <li class="page-item"><a class="page-link" href="/search/?keyword=<%= keyword %>&page=<%= i %>"><%= i %></a></li>
          <% } else {%>
          .
          <% } %>
          <% } else {%>
          <li class="page-item active"><span class="page-link disabled"><%= i %></span></li>
          <% } %>
        <% } %>
      </ul>
    </nav>
  </main>

  <%- include("../_share/footer.ejs") %>

  </div>
  <%- include("../_share/javascripts.ejs") %>
</body>

</html>