<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
  <title>tastylog</title>
  <%- include("./_share/stylesheets.ejs") %>
  <link rel="stylesheet" href="/public/stylesheets/index.css" />
</head>

<body>
  <div class="outerframe">
    <%- include("./_share/navbar.ejs") %>
    <main role="main" class="container d-flex justify-content-md-center">
      <div class="align-self-center col-md-8 text-center">
        <div class="display-1">500</div>
        <div>Internal Server Error</div>
      </div>
    </main>
    <%- include("./_share/footer.ejs") %>
  </div>
  <%- include("./_share/javascripts.ejs") %>
</body>

</html>