<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
  <title>tastylog</title>
  <%- include("./_share/stylesheets.ejs") %>
  <link rel="stylesheet" href="/public/stylesheets/index.css" />
</head>

<body>
  <div class="outerframe">
    <%- include("./_share/navbar.ejs") %>
    <main role="main" class="container d-flex justify-content-md-center">
      <div class="align-self-center col-md-8">
        <h1 class="display-1 text-center my-5"><i class="fa fa-fw fa-utensils"></i> search</h1>
        <form action="/search" method="GET" class="my-5">
          <div class="form-group row justify-content-center">
            <div class="input-group my-3 col-sm-8">
              <input type="text" class="form-control" id="keyword" name="keyword" autofocus="autofocus" />
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit"><i class="fa fa-fw fa-search"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include("./_share/footer.ejs") %>
  </div>
  <%- include("./_share/javascripts.ejs") %>
</body>

</html>